body {
  background-color: #000000; /* nero */
  color: #ffffff; /* testo bianco per contrasto */
  margin: 0; /* evita spazi vuoti intorno alla pagina */
  padding: 0;
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.filters {
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
/*  grid-template-columns: repeat(auto-fill, 450px);*/
  gap: 2px;
}

.launch-card {
  border: 0px solid #bbb;
  padding: 0.5rem;
}

table {
  width: 360px;
  table-layout: fixed;
  border-collapse: collapse;  
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-align: center;
}

table th,
table td {
	width: 100%;
  text-align: center;
}


th {
  text-align: left;
  width: 50%;
  font-weight: normal;
  vertical-align: top;
}

td.mission {
  font-size: 20px;
  font-weight: 600;
}

td.lsp {
  font-size: 14px;
  font-weight: 500;
}

td.date {
  font-size: 16px;
}

td.rocket {
  font-size: 16px;
}

td.small {
  font-size: 12px;
}

td.description {
  font-size: 11px;
  font-style: italic;
}

td.link {
  font-size: 13px;
  font-weight: 500;
}

td.valore {
  text-align: center;
}

td.patch {
  padding: 4px;
}

.patch-box {
  border: 4px solid #666;
  border-radius: 20px;
  padding: 6px;
  justify-content: center;
  align-items: center;
}

.patch-box.success {
  border-color: #2ecc71;
}

.patch-box.failure {
  border-color: #e74c3c;
}

.patch-box.other {
  border-color: #00ffff; /* ciano */
}


td.patch img {
  max-height: 300px;   /* larghezza massima */
/*  max-height: 300px;  /* altezza massima */
  width: 100%;        /* si adatta al contenitore */
  width: auto;       /* mantiene proporzioni */
  display: inline-block;
  background-color: #000;                      /* evita trasparenze strane */
}

.green-link {

  color: #2ecc71;       /* verde brillante */
  text-decoration: none;
}

.green-link:hover {
  text-decoration: underline; /* opzionale al passaggio del mouse */
}

