body {
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1rem;
}

.filters {
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.launch-card {
  border: 1px solid #bbb;
  padding: 0.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-align: center;
}

table th,
table td {
  text-align: center;
}


th {
  text-align: left;
  width: 40%;
  font-weight: normal;
  vertical-align: top;
}

td.mission {
  font-size: 20px;
  font-weight: 600;
}

td.lsp {
  font-size: 14px;
  font-style: italic;
}

td.small {
  font-size: 12px;
}

td.valore {
  text-align: center;
}

.patch img {
  max-width: 100%;
  display: block;
  margin: auto;
}
